/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
body {
  background-color: #f3f3f3;
}
.white-bg {
  background-color: white;
}
.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.display-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-col {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.w-30-p {
  width: 30%;
}
.h-180 {
  height: 180px;
}
.ml-20 {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}
.red-text {
  color: red;
}
.fs-11 {
  font-size: 11px
;
}
.contactImg {
  border-radius: 50%;
}
.justity-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.p-20 {
  padding: 20px;
}
.mt-10-p {
  margin-top: 10%;
}
.mb-20 {
  margin-bottom: 20px;
}
.details input {
  border: none;
}
.ml--100 {
  margin-left: -100px;
}
input, h4, span {
  color: grey;
}
input:disabled {
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.plusIcon {
  color: green;
  font-size: 50px;
}
@media only screen and (max-width: 700px) and (min-width: 400px)  {

  .w-30-p {
    width: 100%;
  }
  .contacts {
    flex-direction: column;
  }
}